<!-- tabs/tabs.page.html (Dengan Emoji) -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="sakuma-tab-bar">
    <!-- Beranda -->
    <ion-tab-button tab="tab1">
      <!-- Ganti ion-icon dengan span berisi emoji -->
      <span class="tab-emoji">🏠</span>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

     <!-- Campaign -->
    <ion-tab-button tab="tab3">
      <span class="tab-emoji">💰</span>
      <ion-label>Campaign</ion-label>
    </ion-tab-button>


    <!-- QR Scanner (Center Button) -->
    <ion-tab-button (click)="scanQR()">
      <div class="scan-button">
        <!-- Ganti ion-icon di dalam tombol scan juga -->
        <span class="scan-emoji">📲</span>
      </div>
    </ion-tab-button>

     <!-- Program -->
    <ion-tab-button tab="tab4">
      <span class="tab-emoji">🏆</span>
      <ion-label>Program</ion-label>
    </ion-tab-button>
    
 <ion-tab-button tab="tab2">
      <span class="tab-emoji">👤</span>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
   
   
  </ion-tab-bar>
</ion-tabs>