<ion-header>
  <ion-toolbar style="--background: transparent; --color: #4A90E2;">
    <ion-title style="font-weight: 600;">Sakuma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-label position="floating">Nama Lengkap</ion-label>
    <ion-input type="text" [(ngModel)]="namaLengkap"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Asal Sekolah</ion-label>
    <ion-input type="text" [(ngModel)]="sekolah"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="register()" class="ion-margin-top">
    Daftar
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/login">
    Sudah punya akun? Login
  </ion-button>
</ion-content>